# Environment variables
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# FastAPI / backend
data/
*.db

# Node / frontend
node_modules/
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db