fastapi==0.115.2
uvicorn==0.32.0
requests==2.32.3
sentence-transformers==3.2.1
faiss-cpu==1.9.0
numpy==2.1.2
pydantic==2.9.2
python-dotenv==1.0.1
pymupdf==1.23.21
python-docx
pip install fastapi uvicorn requests faiss-cpu numpy pydantic python-dotenv pymupdf python-docx python-multipart
